﻿body{font-family:나눔고딕, NanumGothic, 'Nanum Gothic', sans-serif;font-size:14px;}
input{font-family:나눔고딕, NanumGothic, 'Nanum Gothic', sans-serif;}

form {
    margin:10px 0;
    text-align:center;
}

form .mamlogo {
    margin-top:100px;
}

form .maintext {
    margin-top:40px;

}

form .maintextbox {
    font-family: '돋움', Dotum, AppleGothic, sans-serif;
    font-size:12px;
    color:#898989;

}

form .searchbox {
    font-size:18px;
    margin-top:70px;
    height:42px;
}

form .searchtextbox {
    font-family: '돋움', Dotum, AppleGothic, sans-serif;
    font-size:18px;
    height:42px;
    width:436px;
}

form .searchcommand {
    height:42px;
    width:46px;
}

form .fixedtest {
    position: fixed;
    top: 30px;
    right: 5px;
    color: red;
}

form .search_wrap{position: relative; text-align:center; overflow: hidden;float: none;margin: 70px auto 0;width: 482px;height: 42px;border: 1px solid #CCCCCC;background: #fff;}
form .search_wrap input[type="text"]{display: block;position:absolute;top:0px;bottom:8px;left:0px;width: 430px; font-size: 14px; border:0;background:none;}
form .search_wrap .btn_search{float: right;display: block;width: 50px;height: 44px;background:url("../img/imgsearch_btn_search.png") center center no-repeat #464646;}
form .search_wrap .search_btn_wrap{overflow: hidden;position: absolute;right:50px;}
form  .search_wrap .search_btn_wrap .search_btn1{display: block;float:left;margin-top:13px;margin-right: 10px;width:30px ;height:44px ;}
/*form  .search_wrap .search_btn_wrap .search_btn2{display: block;float:left;margin-top:0px;margin-right: 5px;width:30px ;height:44px ; background:url("img/main_bg_videosearch.png") center center no-repeat;background-size:contain;}*/

#header{overflow:hidden;position: relative;width: 100%;height: 44px;padding:2px 0;z-index: 9999;   left: -1px;}
#header .login_wrap{float: right;overflow:hidden;margin-right: 25px;}
#header .login_wrap li{display: block;float:left;margin-top:10px;border-left: 1px solid #D1D1D1;padding:0 20px;}
#header .login_wrap li a{font-weight: bold;}
#header .login_wrap li:first-child{border:0;}
#header .login_wrap .header_profile{margin:0;padding:0;font-size: 0;line-height: 0;width: 40px;height: 40px;border-radius: 20px;border:0;}
#header .login_wrap .header_profile img{border-radius: 20px;}