/* All - 모든 해상도 공통 스타일 */
body{font-family:나눔고딕, NanumGothic, 'Nanum Gothic', sans-serif;font-size:18px;}
input{font-family:나눔고딕, NanumGothic, 'Nanum Gothic', sans-serif;}
a{color:#00c; text-decoration: none;}
button{font-size:0; line-height:0; text-shadow:none; color:transparent;cursor:pointer;}
.blind{position: absolute !important;font-size: 0 !important; line-height:0 !important; text-shadow:none !important;color:transparent !important;cursor:pointer;}

/* layout */
body{min-width: 1275px;}
#header{overflow:hidden;position: relative;width: 100%;height: 44px;padding:22px 0; border-bottom: 1px solid #E1E1E1;background: #F1F1F1;z-index: 9999;
    left: -1px;
}
#header h1{float: left; width: 250px;text-align: center;}
#header h1 img{margin-top: 10px;}
#header .search_wrap{position: relative; overflow: hidden;float: left;margin-left: 30px;width: 688px;height: 42px;border: 1px solid #CCCCCC;background: #fff;}
#header .search_wrap input[type="text"]{border-style: none;
    border-color: inherit;
    border-width: 0;
    display: block;position:absolute;top:4px;
    bottom:4px;
    left:8px;
    width: 590px; font-size: 18px; background:none;
}
#header .search_wrap .btn_search{float: right;display: block;width: 50px;height: 44px;background:url("../img/imgsearch_btn_search.png") center center no-repeat #464646;}
#header .search_wrap .search_btn_wrap{overflow: hidden;position: absolute;right:50px;}
#header  .search_wrap .search_btn_wrap .search_btn1{display: block;float:left;margin-top:10px;margin-right: 5px;width:30px ;height:44px ;}
#header  .search_wrap .search_btn_wrap .search_btn2{display: block;float:left;margin-top:10px;margin-right: 5px;width:30px ;height:44px ; } /*background:url("../img/main_bg_videosearch.png") center center no-repeat;background-size:contain;*/

#header .login_wrap{float: right;overflow:hidden;margin-right: 25px;}
#header .login_wrap li{display: block;float:left;margin-top:12px;border-left: 1px solid #D1D1D1;padding:0 20px;}
#header .login_wrap li a{font-weight: bold;}
#header .login_wrap li:first-child{border:0;}
#header .login_wrap .header_profile{margin:0;padding:0;font-size: 0;line-height: 0;width: 40px;height: 40px;border-radius: 20px;border:0;}
#header .login_wrap .header_profile img{border-radius: 20px;}
#gnb{position: absolute;top:0;left:0;width: 224px;height: 100%; border-right: 1px solid #ccc;background: url("../img/gnb_bg_footer.png") center bottom 25px no-repeat;}
#gnb>ul{margin-top:88px;z-index: 10;}
#gnb>ul>li>a{display: block;padding: 20px 25px 20px 60px;}
#gnb>ul>li.m1>a{background: url("../img/gnb_icon_m1.png") left 28px center no-repeat;}
#gnb>ul>li.m2>a{background: url("../img/gnb_icon_m2.png") left 26px center no-repeat;}
#gnb>ul>li.m3>a{background: url("../img/gnb_icon_m3.png") left 27px center no-repeat;}
#gnb>ul>li.m4>a{background: url("../img/gnb_icon_m4.png") left 28px center no-repeat;}
#gnb>ul>li.m1.on>a{background: url("../img/gnb_icon_m1-on.png") left 28px center no-repeat #464646;}
#gnb>ul>li.m2.on>a{background: url("../img/gnb_icon_m2-on.png") left 26px center no-repeat #464646;}
#gnb>ul>li.m3.on>a{background: url("../img/gnb_icon_m3-on.png") left 27px center no-repeat #464646;}
#gnb>ul>li.m4.on>a{background: url("../img/gnb_icon_m4-on.png") left 28px center no-repeat #464646;}
#gnb>ul>li>a:hover{background-color: #f1f1f1;}
#gnb .on a{color: #fff;font-weight: bold;}
#gnb .on a:hover{background-color: #464646;}
#contents{margin-left:250px;padding:30px;}
#contents section{width: 980px; padding:15px 0 80px;border-top: 1px solid #000;}
#contents section:first-child{border:0;padding-top:0;}
#contents section header{overflow: hidden;padding-bottom: 30px;}
#contents section header h2{float: left;font-size: 28px;}
#contents section header span{float: left;margin:5px 15px;color:#ADADAD;}
#contents section .btn_wrap{padding-top:50px;}
#contents section .btn_wrap .btn_more{display: block;width: 210px;height: 30px;margin:0 auto;padding-top:12px;text-align: center;background:url("../img/common_btn_search.png") no-repeat;}
#contents section .btn_wrap .btn_more span{display:inline;padding-right:13px;font-size: 18px;background:url("../img/common_bullet_more.png") right center no-repeat;font-weight: bold;}

#video_result .container .video_list{overflow: hidden;}
#video_result .container .video_list li{float: left;margin-left:10px;height:140px;}
#video_result .container .video_list li:first-child{margin:0;padding-left:10px;}
#video_result .container .video_list li .thumbnail{position: relative;margin-bottom: 0px;height:132px; width:235px;}
#video_result .container .video_list li .video_label{position: absolute;bottom:5px;right: 5px;background: #000;color: #fff;z-index: 1;font-size: 16px;padding:2px 5px; margin:0px, -40px;}
#video_result .container .video_list li .video_quality{position: relative;top:-20px ;bottom:0;left: 130px;right: 0;width:47px;height:16px;opacity:0.5; background-image:url("../img/videosearch_resolution_high.png");background-size:47px 16px;}
#video_result .container .video_list li .video_quality.normal{position: relative;top:-20px ;bottom:0;left: 130px;right: 0;width:47px;height:16px;opacity:0.5; background-image:url("../img/videosearch_resolution_normal.png");background-size:47px 16px;}
#video_result .container .video_list li .play_wrap{position: relative;top:-100px ;bottom:0;left: 100px;right: 0;width:34px;height:34px;background-image:url("../img/videosearch_btn_play.png");background-size: 34px 34px;}
#video_result .container .video_list li .play_wrap.unable{background-image:url("../img/videosearch_btn_error.png");}

#img_search ul{overflow: hidden;width:100%;height: 100%;}
#img_search ul li{margin:0 10px 10px 0; float:left;}
#img_search .item{overflow:hidden; width:235px;font-size: 0;line-height: 0; float:left}
#img_search .item img a{display:inline;    }
#img_search .item img{display: block;min-width:100%;max-width:100%;}
#img_search .relate_wrap{padding:10px 20px 20px;}
#img_search .relate{margin-top:30px;background:#ebebeb; border-top:1px solid #ccc;}
#img_search .relate h3{color:#363636;padding-bottom:20px;font:14px;font-weight: bold;}
#img_search .relate ul{overflow: hidden;}
#img_search .relate ul li{float: left;margin-left:10px;}
#img_search .relate ul li:first-child{margin:0;}

/* text_Search UI Object */
#txt_search .lst_type{padding:0 10px 10px}
#txt_search .lst_type li{position: relative; overflow:hidden;width:100%;height: 110px;padding:15px 0;border-top:1px solid #ddd;}
#txt_search .lst_type li:first-child{padding-top:0; border-top:0;}
#txt_search .lst_type li .txt_lst_thumbnail{float: left; width: 110px;height: 110px;margin-right: 15px;}
#txt_search .lst_type li .txt_lst_thumbnail a{display: block;font-size: 0;line-height: 1em;}
#txt_search .lst_type li .txt_lst_contents{float: left;width:95%;height: 90px;}
#txt_search .lst_type li .txt_lst_contents strong{font-weight: bold;}
#txt_search .lst_type li .txt_lst_contents span{color: #a0a0a0;}
#txt_search .lst_type li .txt_lst_contents p{line-height:20px;margin-top:10px;}
#txt_search .lst_type li .txt_lst_contents2{float: left;height: 90px;width:80%}
#txt_search .lst_type li .txt_lst_contents2 strong{font-weight: bold;}
#txt_search .lst_type li .txt_lst_contents2 span{color: #a0a0a0;}
#txt_search .lst_type li .txt_lst_contents2 p{line-height:20px;margin-top:10px;color: #717171;}

#txt_search .lst_intention_wrap{margin-top:20px; padding:10px 20px 0px;}
#txt_search .lst_intention{margin-top:0px;background:#ebebeb;width:100%;padding:20px;list-style:none}
#txt_search .lst_intention h3{color:#363636;padding-bottom:20px;font:14px;font-weight: bold;}
#txt_search .lst_intention li{margin-bottom:5px;font-family:나눔고딕, NanumGothic, 'Nanum Gothic', sans-serif;font-size:18px;font-weight:normal;line-height:16px;vertical-align:top}
#txt_search .lst_intention li a{color:#363636;text-decoration:none;}
#txt_search .lst_intention li a:hover{text-decoration:underline}
/*
    #txt_search .lst_type{overflow:hidden;width:100%;padding:0 10px 10px}
#txt_search .lst_type li{overflow:hidden;clear:both;margin:10px 0 0;color:#363636;font-family:나눔고딕, NanumGothic, 'Nanum Gothic', sans-serif;font-size:14px;line-height:16px;list-style:none;vertical-align:middle}
#txt_search .lst_type li img{display:grid;float:left;margin:0 10px 0 0;border:none}
#txt_search .lst_type li a{color:#363636;text-decoration:none}
#txt_search .lst_type li a:hover{text-decoration:underline}

#txt_search .lst_intention_wrap{margin-top:20px; padding:10px 20px 0px;}
#txt_search .lst_intention{margin-top:0px;background:#ebebeb;width:100%;padding:20px;list-style:none}
#txt_search .lst_intention h3{color:#363636;padding-bottom:20px;font:14px;font-weight: bold;}
#txt_search .lst_intention li{margin-bottom:5px;font-family:나눔고딕, NanumGothic, 'Nanum Gothic', sans-serif;font-size:14px;font-weight:normal;line-height:16px;vertical-align:top}
#txt_search .lst_intention li a{color:#363636;text-decoration:none}
#txt_search .lst_intention li a:hover{text-decoration:underline}
*/rch UI Object */

/* popup UI Object */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;

}